html{
    font-family: -apple-system, Helvetica, arial, sans-serif;
    color: #333333;
}

.nav {
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
}
.nav a {
    color: #686868;
    text-decoration: none;
    font-size: 12px;
}
.nav a:hover {
    text-decoration: underline;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    display: inline;
    margin-right: 10px;
}

#tags{
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#tags li{
    padding: 2px;
    display: inline-block;
    font-weight: bold;
}

.notbold{
    font-weight: normal;
}

#blog{
    margin-left: 27%;
    padding-right: 27%;
}

#intro{
    font-family: -apple-system, Helvetica, arial, sans-serif;
    border-bottom: 1px solid #dddddd;
}

#intro a{
    font-style: italic;
    text-decoration: none;
    color: #333333;
}

.quote{
    font-size: 14px;
    margin-bottom: 12px;
    font-family: Georgia, serif;
}

.quote-author{
    margin-top: -7px;
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

.tags{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: -apple-system, Helvetica, arial, sans-serif;
}

.tags a{
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 30px;
}

.tag-page{
    margin-left: 27%;
    padding-right: 27%;
}

#tag-title{
    font-weight: bold;
    font-size: 26px;
    color: #bbbbbb;
}

.post-title a{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.post-title a:hover{
    text-decoration: underline;
}

.post-date {
    font-weight: bold;
    margin-top: -10px;
    font-size: 12px;
    text-transform: uppercase;
}

.post-subtitle {
    font-size: 14px;
}

.hidden{
    display: none;
}

.page{
    margin-left: 25%;
    padding-right: 25%;
}

.published-tag{
    font-size: 14px;
    font-family: Gill Sans, sans-serif;
}

.page-date{
    margin-top: -10px;
    font-size: 12px;
}

.page-author{
    font-family: Andale Mono, monospace;
}

.page-top{
    border-bottom: 1px solid #dddddd;
}

.content{
    line-height: 1.5em;
}

.content a{
    color: #0070E0;
}

.content a:hover{
    text-decoration: none;
}

.blank-space{
    margin-bottom: 100px;
}
